.projects-header {
  text-align: left;
}

.accordion {
  border-bottom: 2px solid wheat;
  overflow: hidden;
  transition: all 0.3s ease;
  color: wheat;
  background-color: none;
}

.accordion-header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
  background-color: none;
  font-size: 3rem;
}

.accordion-header h2 {
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

.accordion-icon {
  font-size: 3rem;
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
}

.accordion-icon.open {
  transform: rotate(90deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .6s ease;
}

.accordion-content-inner {
  padding: 1rem;
  max-height: 100%;
  padding: 10px;
}

