.contact-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  font-size: 1.5rem;

  h1 {
    margin: 1rem;
  }

  .social-links {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2rem auto;
    font-size: 2rem;

    h2 {
      margin: 0 2rem;
    }
  }
}

@media (max-width: 1670px) {
}

