.contact-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 21rem 0 23rem 0;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  h1 {
    margin: 1rem;
  }

  .social-links {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 2rem auto;
    font-size: 2rem;

    h2 {
      margin: 0 2rem;
    }
  }
}

@media (max-width: 1370px) {
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto 0;
    font-size: 1rem;

    h2 {
      width: fit-content;
      text-align: center;
    }

    a {
      margin-bottom: .5rem;
    }
  }
}

@media (max-width: 414px) {
  .contact-container {
    font-size: .75rem;
    margin: 18rem 0 21rem 0;
  
    h1 {
      margin: .5rem;

      a {
        margin-bottom: 0;
      }
    }

    .social-links {
      margin: 1rem  auto;

      h2 {
        font-size: 1.5rem;
      }
    }

    
  }
}

