.split-section {
  display: flex;
  height: 100%;
  max-width: 100%;
  flex: 1;
  align-items: stretch;
  /* Update to stretch instead of center */
  opacity: 0;
  transition: opacity 1.2s ease-in;
}

.split-section.show {
  opacity: 1;
}

.split-section.show .left-info {
  flex-basis: 65%;
  /* Update to flex-basis instead of width */
}

.split-section.show .right-info {
  flex-basis: 35%;
  /* Update to flex-basis instead of width */
}

.left-info,
.right-info {
  flex: 1;
  height: 100%
}

.left-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align text to the left */
  padding: 2rem 2rem 2rem 0;
  font-size: 2rem;
  height: 87vh;

  p {
    text-align: left;
  }

  .call-to-action {
    display: inline-block;
    margin-top: auto;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 2px;
      background-color: wheat;
      transition: width 1.5s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.right-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  p {
    text-align: left;
    margin-bottom: 2rem;
  }

  .skills-text {
    font-size: 2rem;
  }

  ul {
    gap: 2rem;
  }

  h1 {
    width: 1rem;
    margin-right: 2rem;
  }

  li {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
  }

  .skill-container {
    display: flex;
    flex-direction: column;
  }

  .skill-category {
    margin-bottom: .25rem;
  }
}

.vertical-split {
  width: 2px;
  background-color: wheat;
  height: 85vh;
}

// .weight-grow {
//   font-family: 'Diatype-Plus';
//   font-weight: 350;
//   transition: font-weight 0.7s ease-in-out;
//   cursor: pointer;
// }

// .weight-grow:hover {
//   font-weight: 700;
// }

@media (max-width: 1670px) {

  .split-section.show .left-info {
    flex-basis: unset;
  }

  .left-info {
    padding: 2rem 0;
    max-width: 100%;
    height: 89vh;
    flex: unset;
    font-size: 2.5rem;
  }

  .split-section {
    flex-direction: column;

    .call-to-action {
      margin-top: auto;
      font-size: 4rem;
    }
  }

  .vertical-split {
    width: 100%;
    background-color: wheat;
    height: 2px;
    margin-top: 1rem;
    padding: 1px 0;
  }

  .right-info {
    max-width: 100%;
    padding: 2rem 0;
    border-bottom: 2px solid wheat;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      display: flex;
      margin-bottom: 0;
      align-items: center;
      text-align: left;
    }

    h1 {
      padding: 0;
      margin: 0 2rem;
      display: flex;
      align-items: center;
      font-size: 5rem;
    }

    .skill-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;


      h3 {
        margin-bottom: 0.5rem;
      }

      p {
        padding: 0 10rem;
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .left-info {
    font-size: 1.75rem;
    height: 85vh;

    .call-to-action {
      font-size: 3rem;
      margin-bottom: 7rem;
    }
  }

  .right-info {

    .skill-container {
      p {
        padding: 0 1rem;
      }
    }
  }
}

@media only screen and (max-width: 390px) {
  .left-info {
    font-size: 1.25rem;
    height: 89vh;

    .call-to-action {
      font-size: 1.25rem;
    }
  }

  .right-info {
    padding: 2rem 0;

    .skills-text {
      font-size: 1.25rem;
      margin-bottom: .5rem;
    }

    li {
    
      h1 {
        font-size: 2.5rem;
        margin: 0;
      }

      .skill-container {
        align-items: flex-start;

        h3 {
          font-size: 1rem;
        }

        p {
          padding: 0;
          font-size: 1.25rem;
          text-align: left;
        }
      }

    }
  }
}