.nav-link {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: wheat;
    transition: width .8s ease;
  }

  &:hover::after,
  &.active::after {
    width: 100%;
  }
}
