.project-list {
  margin: 2rem 0;
  height: 100%;

  .projects-header {
    text-align: left;
    margin-bottom: 1rem;
  }

  .date-year {
    text-align: left;
    margin: 2rem 0;
  }

  p {
    text-align: left;
    font-size: 2rem;
  }

  .split-view-box{
    display: flex;
    height: 100%;
    // border-top: 2px solid wheat;

    .project-info {
      display: flex;
      flex: 1;
      flex-direction: column;
      flex-basis: 50%; /* Update to flex-basis instead of width */
      padding-right: 2rem;

      p {
        font-size: 1.5rem;
      }

      .project-description{
        margin-bottom: 2rem;
      }

      .project-tech-stack {
        text-align: left;
        margin-bottom: 2rem;
      }

      .project-links {
        width: fit-content;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 1rem;

        a {
          font-size: 2rem;
        }
      }
    }

    // .split-line {
    //   width: 2px;
    //   background-color: wheat; 
    //   margin: 0 1rem;
    //   height: 100%;
    // }

    .media-carousel {
      flex-basis: 50%;
      // margin-top: 2rem;
    }
  }
}