// Import variables.scss
@import 'variables.scss';

body {
  background-color: transparent;
  color: wheat;
}

.banner {
  margin: auto 0;
}

.content-container {
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative; 
  clip-path: inset(0); /* Clip the container to its boundaries */
}

a {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 1rem;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: wheat;
    transition: width 1.5s ease;
  }

  &:hover::after {
    width: 100%;
  }
}


